@charset "UTF-8"

body{
    background-color: darkgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
   }
   h1{
       color: darkred;
   
    }
   h2{
       color: darkslateblue;
   }
   p{
       text-align: justify;
   }